.navbar {
    background-color: #aeda99;
}
.navbar-brand {
    font-family: "Sofia", sans-serif;
    font-size: 30px;
}
i {
    font-size: 24px
}
.navbar-nav .form-control {
    width: 200px;
}
body {
    background-color: #f7f9f9;
    overflow: auto;
}
body::-webkit-scrollbar {
  display: none;
}
.btn-success {
    background-color: #74ad59;
    border-color: transparent;
}
.btn-success:hover{
    background-color: #74ad59;
    border-color: transparent;
}
h4{
    color: #000000;
    font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.bg-success{
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
h3{
    color: #59704e;
}
h1{
    color: #59704e;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
.badge-warning{
    color: #ffffff;
    background-color: #f1a60b;
}
.badge-success{
    color: #ffffff;
    background-color: #61c53a;
}
.badge-danger{
    color: #ffffff;
    background-color: #f0504e;
}
.alternate {
background-color: #efefef;
}
ul {
list-style-type: none;
}
.fill-parent {
width: 100%;
}
.checked {
text-decoration: none;
cursor: pointer;
}
.favourite-btn {
z-index: 1;
}
.thick {
  text-decoration: solid underline 2px;
  color: #000000;
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-style: normal;
}
.nutrition{
    height: 50px;
    overflow-y: scroll;
}
a .nutrients{
    cursor: pointer;
    text-decoration: none;
}
p {
      font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
img {
    overflow: hidden;
}