<!DOCTYPE html>
<html lang="en">
<head>
    {% extends 'base.html' %}
    <script>
    $(document).ready(function() {
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getCookie('csrftoken');

        $.ajaxSetup({
            headers: { 'X-CSRFToken': csrftoken }
        });
        $('.favourite-btn').click(function(e) {
            e.preventDefault();
            let button = $(this);
            let recipeId = button.data('recipe-id');
            let favouriteCountElement = $('#favourite-count-' + recipeId);

            $.ajax({
                url: `/my_recipe/${recipeId}/toggle_favourite/`,
                method: 'POST',
                data: { csrfmiddlewaretoken: csrftoken },
                success: function(response) {
                    if (response.favourited) {
                        button.find('i').removeClass('bi bi-heart').addClass('bi bi-heart-fill text-danger');
                        favouriteCountElement.text(parseInt(favouriteCountElement.text()) + 1);
                    } else {
                        button.find('i').removeClass('bi bi-heart-fill text-danger').addClass('bi bi-heart');
                        favouriteCountElement.text(parseInt(favouriteCountElement.text()) - 1);
                    }
                },
                error: function(xhr, status, error) {
                    console.log(`Error: ${status} - ${error}`);
                    alert('An error occurred. Please try again.');
                }
            });
        });
    });
</script>
</head>
{% block content %}
<body>
<div class="container">
    <h2 class="title my-3">My Recipe</h2>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="accept-tab" data-bs-toggle="tab" data-bs-target="#accept-tab-pane" type="button" role="tab" aria-controls="accept-tab-pane" aria-selected="true">Accept</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="reject-tab" data-bs-toggle="tab" data-bs-target="#reject-tab-pane" type="button" role="tab" aria-controls="reject-tab-pane" aria-selected="false">Reject</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="pending-tab" data-bs-toggle="tab" data-bs-target="#pending-tab-pane" type="button" role="tab" aria-controls="pending-tab-pane" aria-selected="false">Pending</button>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="accept-tab-pane" role="tabpanel" aria-labelledby="accept-tab" tabindex="0">
            <div class="row">
                {% if accept %}
                    {% for recipe in accept %}
                        <div class="col col-sm-4 mb-3 mt-3">
                            <div class="card h-100">
                                <img src="{{ recipe.image }}" class="card-img-top" alt="{{ recipe.name }}">
                                <div class="card-body">
                                    <h3 class="card-title">{{ recipe.name }}</h3>
                                    <small class="card-text">By: {{ recipe.poster_id.username }}</small>
                                    <a href="{% url 'recipe' recipe.id %}" class="stretched-link"></a>
                                    <form method="post">
                                        {% csrf_token %}
                                        <button class="btn border-0 favourite-btn position-absolute bottom-0 end-0" data-recipe-id="{{ recipe.id }}">
                                        {% if recipe.id in user_favourites %}
                                        <i class="bi bi-heart-fill text-danger"></i>
                                        {% else %}
                                        <i class="bi bi-heart"></i>
                                        {% endif %}
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p class="mt-3 mx-3">You don't have any accepted recipe...</p>
                {% endif %}
            </div>
        </div>
        <div class="tab-pane fade" id="reject-tab-pane" role="tabpanel" aria-labelledby="reject-tab" tabindex="0">
            <div class="row">
                {% if reject %}
                    {% for recipe in reject %}
                        <div class="col col-sm-4 mb-3">
                            <div class="card h-100 mt-3">
                                <img src="{{ recipe.image }}" class="card-img-top" alt="{{ recipe.name }}">
                                <div class="card-body">
                                    <h3 class="card-title">{{ recipe.name }}</h3>
                                    <small class="card-text">By: {{ recipe.poster_id.username }}</small>
                                    <a href="{% url 'recipe' recipe.id %}" class="stretched-link"></a>
                                    <form method="post">
                                        {% csrf_token %}
                                        <button class="btn border-0 favourite-btn position-absolute bottom-0 end-0" data-recipe-id="{{ recipe.id }}">
                                        {% if recipe.id in user_favourites %}
                                        <i class="bi bi-heart-fill text-danger"></i>
                                        {% else %}
                                        <i class="bi bi-heart"></i>
                                        {% endif %}
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p class="mt-3 mx-3">You don't have any rejected recipe...</p>
                {% endif %}
            </div>
        </div>
        <div class="tab-pane fade" id="pending-tab-pane" role="tabpanel" aria-labelledby="pending-tab" tabindex="0">
            <div class="row">
                {% if pending %}
                    {% for recipe in pending %}
                        <div class="col col-sm-4 mb-3 mt-3">
                            <div class="card h-100">
                                <img src="{{ recipe.image }}" class="card-img-top" alt="{{ recipe.name }}">
                                <div class="card-body">
                                    <h3 class="card-title">{{ recipe.name }}</h3>
                                    <small class="card-text">By: {{ recipe.poster_id.username }}</small>
                                    <a href="{% url 'recipe' recipe.id %}" class="stretched-link"></a>
                                    <form method="post">
                                        {% csrf_token %}
                                        <button class="btn border-0 favourite-btn position-absolute bottom-0 end-0" data-recipe-id="{{ recipe.id }}">
                                        {% if recipe.id in user_favourites %}
                                        <i class="bi bi-heart-fill text-danger"></i>
                                        {% else %}
                                        <i class="bi bi-heart"></i>
                                        {% endif %}
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p class="mt-3 mx-3">You don't have any pending recipe...</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}
</html>
