<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new recipe</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
</head>
<body>
{% block content %}
<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-md-12">
            <div class="card border-0">
                <h2 class="card-title mt-3 mx-auto">About</h2>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="name" class="form-label">Name</label>
                                <input type="text" class="form-control" id="name" placeholder="Vegetable Lasagna">
                            </div>
                            <div class="mb-3">
                                <label for="description" class="form-label">Description</label>
                                <textarea class="form-control" id="description" rows="3" placeholder="Wholesome, hearty winter lasagna recipe."></textarea>
                            </div>
                            <div class="mb-3">
                                <label for="time" class="form-label">Estimate Time</label>
                                <input type="text" class="form-control" inputmode="numeric" id="time" placeholder="15">
                            </div>
                            <div class="mb-3">
                                <label for="tags" class="form-label">Tags</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="tags" value="Appetizers, Baked Goods, Breakfast, Condiments and Sauces, Dessert, Dinner, Drinks, Healthy, Italian, Lunch, Meat, Mexican, Pasta, Salads, Seafood, Side Dishes, Smoothies, Snacks, Soup, Vegetarian">
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="photos" class="form-label">Photos</label>
                                <div class="image-preview-container">
                                    <div class="preview">
                                        <img id="preview-selected-image" alt="Can't preview">
                                    </div>
                                    <label for="file-upload">Upload Image</label>
                                    <input type="file" id="file-upload" accept="image/*" onchange="previewImage(event);" />
                                </div>
                                <script>const previewImage = (event) => {
                                        const imageFiles = event.target.files;
                                        const imageFilesLength = imageFiles.length;
                                        if (imageFilesLength > 0) {
                                            const imageSrc = URL.createObjectURL(imageFiles[0]);
                                            const imagePreviewElement = document.querySelector("#preview-selected-image");
                                            imagePreviewElement.src = imageSrc;
                                            imagePreviewElement.style.display = "block";
                                        }
                                    };</script>
                                </div>

                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="ingredients" class="form-label">Ingredients</label>
                                <textarea class="form-control" id="ingredients" rows="1" placeholder="1 cup white flour (extra for smearing)"></textarea>
                            </div>
                            <div class="mb-3">
                                <label for="ingredients" class="form-label">Steps</label>
                                      <input class="form-control" id="steps" placeholder="Wash and dice the carrots, tomatoes and mushrooms.">
                                      <button type="button" class="btn btn-outline-success" onclick="newElement()">
                                        <i class="bi bi-plus"></i> Add step
                                      </button>
                                    </div>
                                    <ol id="myOL"></ol>

                                    <script>
                                      function newElement() {
                                          const li = document.createElement("li");
                                          const inputValue = document.getElementById("steps").value;
                                          const t = document.createTextNode(inputValue);
                                          li.appendChild(t);

                                          if (inputValue === '') {
                                          alert("Add your step first!");
                                          } else {
                                          document.getElementById("myOL").appendChild(li);
                                          }

                                          const span = document.createElement("SPAN");
                                          const txt = document.createTextNode("\u00D7");
                                          span.className = "close";
                                          span.appendChild(txt);
                                          li.appendChild(span);

                                          span.onclick = function() {
                                              const div = this.parentElement;
                                              div.style.display = "none";
                                          }
                                      }
                                    </script>
                            </div>
                                </div>
                        </div>

                        </div>
                </div>
                    </div>
            </div>
        </div>
    </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}
</body>
</html>