<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
    $(document).ready(function() {
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getCookie('csrftoken');

        $.ajaxSetup({
            headers: { 'X-CSRFToken': csrftoken }
        });
        $('.favourite-btn').click(function(e) {
            e.preventDefault();
            let button = $(this);
            let recipeId = button.data('recipe-id');
            let favouriteCountElement = $('#favourite-count-' + recipeId);

            $.ajax({
                url: `/recipes/${recipeId}/toggle_favourite/`,
                method: 'POST',
                data: { csrfmiddlewaretoken: csrftoken },
                success: function(response) {
                    if (response.favourited) {
                        button.find('i').removeClass('bi bi-heart').addClass('bi bi-heart-fill text-danger');
                        favouriteCountElement.text(parseInt(favouriteCountElement.text()) + 1);
                    } else {
                        button.find('i').removeClass('bi bi-heart-fill text-danger').addClass('bi bi-heart');
                        favouriteCountElement.text(parseInt(favouriteCountElement.text()) - 1);
                    }
                },
                error: function(xhr, status, error) {
                    console.log(`Error: ${status} - ${error}`);
                    alert('An error occurred. Please try again.');
                }
            });
        });
    });

    // Fetch alternative ingredient
    document.getElementById('alternative-recipe-form').addEventListener('submit', function(event) {
        event.preventDefault(); // Prevent the default form submission
    
        const formData = new FormData(this); // Create a FormData object from the form
    
        fetch(this.action, {
            method: 'POST',
            body: formData,
            headers: {
                'X-Requested-With': 'XMLHttpRequest' // Indicate that this is an AJAX request
            }
        })
        .then(response => {
            console.log(response.json())
            document.getElementById('response-text').innerText = response.json().body.text; // Display server response
        })
        .catch(error => {
            console.error('Error:', error);
        });
    });
    
    </script>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ recipe.name }}</title>
</head>
<body>
<div class="d-grid d-md-block">
    <a href="{% url 'recipe_list' %}" class="btn btn-success my-3 mx-3" type="button">Go Back</a>
</div>
<div class="container-fluid my-3">
<div class="well">
<div class="d-flex">
<div class="d-flex">
        <img src="{{ recipe.image }}" alt="{{ recipe.name }}">
</div>
    <div class="flex-grow-1 ms-3">
        <h1 class="display-5 d-inline">{{ recipe.name }}
            <form method="post" class="d-inline">
                {% csrf_token %}
                {% if user.is_authenticated %}
                <button class="btn border-0 favourite-btn" data-recipe-id="{{ recipe.id }}">
                {% if recipe.id in user_favourites %}
                    <i class="bi bi-heart-fill text-danger"></i>
                {% else %}
                    <i class="bi bi-heart"></i>
                {% endif %}
                </button>
                {% else %}
                   <a class="btn border-0" href="{% url 'login' %}?next={{ request.path }}">
                       <i class="bi bi-heart"></i>
                   </a>
                {% endif %}
                </form></h1>
        <p>By: {{ recipe.poster_id.username }}
        {% if recipe.poster_id.profile.chef_badge %}
                    <small class="badge badge-warning rounded my-3">Chef <i class="bi bi-star-fill star mb-3"></i></small>
                    {% endif %}
        </p>
        <h5><i class="bi bi-clock mx-1"></i> {{ recipe.estimated_time }} minutes</h5>
                {% if recipe.difficulty == "Easy" %}
                <h4><span class="badge badge-pill badge-success">Easy</span></h4>
                {% elif recipe.difficulty == "Medium" %}
                <h4><span class="badge badge-pill badge-warning" style="text-decoration:none">Medium</span></h4>
                {% elif recipe.difficulty == "Hard" %}
                <h4><span class="badge badge-pill badge-danger" style="text-decoration:none">Hard</span></h4>
                {% endif %}
                {% for diet in recipe.diets.all %}
                <h4 class="badge bg-success" style="font-size: 14px">{{ diet.name }}</h4>
                {% empty %}
                {% endfor %}
        <h4 class="mt-2 thick">Description</h4>
        <p class="recipe-description">{{ recipe.description }}</p>
        </div>
</div>
</div>
    <div class="row">
            <div class="col-md-6">
            <h4 class="mb-3 mt-3 thick">Ingredients</h4>
                <ul class="list-group" id="ingredients">
                    {% for ingredient in recipe.get_ingredients %}
                    <li class="checked" onclick="cross_out(this)">
                        <p class="my-2 mx-2"><b>{{ ingredient.amount }}</b>
                        {{ ingredient.unit }} {{ ingredient.ingredient.name }}
                        <i class="bi bi-chat-left-quote float-end " data-bs-toggle="modal"
                           data-bs-target="#exampleModal" ></i>
                    </p>
                    </li>
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h3 class="modal-title fs-5" id="exampleModalLabel">Alternative Ingredient</h3>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <form id="alternative-ingredient-form" action"{% url 'recipe' recipe.id %}" method="POST">
                                {% csrf_token %}
                                <div class="modal-body">
                                    <div class="mb-3">
                                        <label for="ingredients-name" class="col-form-label text-capitalize">For: {{ ingredient.amount }} {{ ingredient.unit }} {{ ingredient.ingredient.name }}</label>
                                    </div>
                                    <div class="mb-3">
                                        <label for="prompts-name" class="col-form-label">Prompt:</label>
                                        <input type="text" class="form-control" id="prompts-name" name="prompt">
                                        <input type="hidden" name="ingredient_id" value={{ ingredient.ingredient.id }}>
                                    </div>
                                    <div class="mb-3">
                                        <label for="alter-text" class="col-form-label">Your new ingredients:</label>
                                        <h4 class="form-control alter" id="response-text">Click find alternative first</h4>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-success">Find alternative</button>
                                </div>
                            </form>
                            </div>
                          </div>
                        </div>
                        <script>
                        document.addEventListener('DOMContentLoaded', () => {
  const elems = document.querySelectorAll('[data-bs-toggle="popover"]');

  const popovers = [...elems].map(el => new bootstrap.Popover(el, {
trigger: 'focus',
html: true,
content: document.getElementById(el.dataset.contentId)?.innerHTML || ''
  }));
});
                        </script>
                    {% endfor %}
                </ul>
                <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                <script>
                    $(document).ready(function(){
                    $('#ingredients li:nth-child(odd)').addClass('alternate');
                    });
                </script>
                <script>
                cross_out = (element) => {
                    if (element.style.textDecoration === "line-through") {
                        element.style.textDecoration = "none";
                        element.style.color = "black"
                    } else {
                        element.style.textDecoration = "line-through";
                        element.style.color = "white";
                    }
                }
                </script>
            <h4 class="mb-3 mt-3 thick">Nutrition</h4>
                <ul class="list-group my-2" id="nutrition">
                    {% for nutrients in recipe.get_nutrition|slice:":5" %}
                        <li><p class="my-2 mx-2">{{ nutrients }}</p></li>

                    {% endfor %}
                </ul>
                <a class="primary mx-2 nutrients" data-bs-toggle="modal" data-bs-target="#nutritionModal">
                    See All Nutrients..
                </a>
                <div class="modal fade" id="nutritionModal" tabindex="-1" aria-labelledby="nutritionModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="nutritionModalLabel">All Nutrients</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <ul class="list-group fill" id="nutrition">
                                    {% for nutrients in recipe.get_nutrition %}
                                        <li><p class="my-2 mx-2">{{ nutrients }}</p></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                <script>
                    $(document).ready(function(){
                        $('#nutrition li:nth-child(odd)').addClass('alternate');
                    });
                </script>
            </div>
            <div class="col-md-6">
            <h4 class="mb-3 thick mt-2">Equipments</h4>
            <ul class="list-group fill" id="equipment">
                {% for equipment in equipments %}
                <li class="checked"><p class="my-2 mx-2 text-capitalize">{{ equipment.equipment.name }}</li>
                {% empty %}
                {% endfor %}
            </ul>
            <script>
                    $(document).ready(function(){
                    $('#equipment li:nth-child(even)').addClass('alternate');
                    });
                </script>
            <h4 class="mb-3 thick">Instructions</h4>
            <ul class="list-group fill" id="steps">
                {% for step in steps %}
                <li class="checked" onclick="cross_out(this)"><p class="my-2 mx-2"><b class="mx-2">{{ step.number }}.</b>{{ step.description }}</p></li>
                {% empty %}
                {% endfor %}
            </ul>
                <script>
                    $(document).ready(function(){
                    $('#steps li:nth-child(even)').addClass('alternate');
                    });
                </script>
            <script>
                cross_out = (element) => {
                    if (element.style.textDecoration === "line-through") {
                        element.style.textDecoration = "none";
                    } else {
                        element.style.textDecoration = "line-through"
                    }
                }
                </script>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}
</body>
</html>