<html>
{% extends 'base.html' %}
<body>
{% block content %}
<div class="d-grid gap-2 d-md-block">
    <a href="{% url 'recipe_list' %}" class="btn btn-success my-3 mx-3" type="button">Go Back</a>
</div>
<div class="container mt-5">
<div class="card mb-3 mx-auto">
    <h1 class="text-center mx-3 mt-3">{{ recipe.name }}</h1>
    <div class="text-center card-text mx-3">
        <img src="{{ recipe.image }}" alt="{{ recipe.name }}" class="img-fluid rounded">
    </div>
    <div class="recipe-details mb-4">
        <h5 class="mx-3 mt-2">Estimated Time: {{ recipe.estimated_time }} minutes</h5>
        <h5 class="mx-3 mt-2">Difficulty: {{ recipe.get_difficulty }}</h5>
        <h5 class="mx-3 mt-2">Diets: {{ recipe.diets.name }}</h5>
        <h5 class="mx-3 mt-2">Description:</h5>
        <p class="mx-3 mt-2">{{ recipe.description }}</p>
    <div class="equipments-section mb-4">
        <h3 class="mx-3">Equipment</h3>
        <div class="row">
            <div class="col-6">
                <div class="card-deck ml-3 d-reflex">
            {% for equipment in recipe.get_equipments %}
            <div class="card text-center col">
            <img src="{{ equipment.equipment.picture }}" alt="{{ equipment.equipment.name }}" class="card-img-top rounded mx-auto"  style="width:100px; height: 100px">
            <h4 class="card-title">{{ equipment.equipment.name }}</h4>
            </div>
                {% endfor %}
        </div>
</div>
            </div>
    </div>
    <div class="ingredients-section mb-4">
        <h3 class="mx-3 mt-2">Ingredients</h3>
        <ul class="list-group">
            {% for ingredient in recipe.get_ingredients %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span>{{ forloop.counter }}. {{ ingredient.ingredient.name }}: {{ ingredient.amount }} {{ ingredient.unit }}</span>
                    <img src="{{ ingredient.ingredient.picture }}" alt="{{ ingredient.ingredient.name }}" class="img-thumbnail">
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="text-center mt-5">
        <a href="{% url 'steps' recipe.id %}" class="btn btn-success btn-lg">Start Cooking!</a>
    </div>
</div>
    </div>
{% endblock %}
</body>
</html>