<!DOCTYPE html>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<html lang="en">
{% extends 'base.html' %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Recipe</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
</head>

<body>
{% block content %}
<form id="recipe-form" method="POST" action="{% url 'edit_recipe' recipe.id %}" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="container-fluid mt-4">
        <div class="row">
            <div class="col-md-12">
                <div class="card border-0">
                    <h2 class="card-title mt-3 mx-auto">About</h2>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="name" class="form-label">Name</label>
                                    <input type="text" class="form-control" id="name" name="name" placeholder="Vegetable Lasagna" value="{{ recipe.name }}" required>
                                </div>
                                <div class="mb-3">
                                    <label for="description" class="form-label">Description</label>
                                    <textarea class="form-control" id="description" name="description" rows="3" placeholder="Wholesome, hearty winter lasagna recipe." required>{{ recipe.description }}</textarea>
                                </div>
                                <div class="mb-3">
                                    <label for="estimated_time" class="form-label">Estimated Time (in minutes)</label>
                                    <input type="number" class="form-control" id="estimated_time" name="estimated_time" value="{{ recipe.estimated_time }}" placeholder="15" required>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Select Diet Restrictions</label>
                                    <div id="diet-buttons mb">
                                        {% for diet in diets %}
                                            <button type="button" class="btn btn-outline-secondary diet-btn mb-2
                                                {% if diet.name in associated_diets %}btn-success{% endif %}" data-diet="{{ diet.name }}">
                                                {{ diet.name }}
                                            </button>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="photos" class="form-label">Photos </label> <br>
                                    <input type="file" id="file-upload" name="photo" accept="image/*" onchange="previewImage(event);"/>
                                    <span class="btn btn-outline-success" onclick="remove_picture()"><i class="bi bi-x"></i></span>
                                    <div class="image-preview-container">
                                        <img id="preview-selected-image" src="{{ recipe.image }}" alt="Recipe Image" style="display: {{ recipe.image ? 'block' : 'none' }};">
                                    </div>
                                    <script>
                                        const previewImage = (event) => {
                                            const imageFiles = event.target.files;
                                            if (imageFiles.length > 0) {
                                                document.querySelector("#preview-selected-image").src = URL.createObjectURL(imageFiles[0]);
                                                document.querySelector("#preview-selected-image").style.display = "block";
                                            }
                                        };
                                        function remove_picture() {
                                            const fileInput = document.getElementById("file-upload");
                                            fileInput.value = null;
                                            document.querySelector("#preview-selected-image").style.display = "none";
                                            document.querySelector("#preview-selected-image").src = "";
                                        }
                                    </script>
                                </div>
                            </div>
                            </div>
                            <div class="col-md-6">
                                <!-- Ingredients Section -->
                                <div class="mb-3">
                                    <label for="ingredients" class="form-label">Ingredients
                                        <span type="button" class="" data-toggle="tooltip" data-placement="top" title="Example format: number unit ingredients (1 cup white flour)">
                                        <i class="bi bi-question-circle" style="font-size: 16px"></i>
                                        </span>
                                    </label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="ingredients" placeholder="1 cup white flour" >
                                        <button type="button" class="btn btn-outline-success" onclick="newIngredient()">
                                            <i class="bi bi-plus"></i> Add ingredient
                                        </button>
                                    </div>
                                    <ul id="ingredientUL">
                                        {% for ingredient in recipe.ingredients.all %}
                                            <li>{{ ingredient.amount }} {{ ingredient.unit }} {{ ingredient.name }} <span onclick="removeIngredient('{{ ingredient.name }}')">×</span></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <!-- Equipment Section -->
                                <div class="mb-3">
                                    <label for="equipment" class="form-label">Equipments
                                    <span type="button" class="" data-toggle="tooltip" data-placement="top" title="Example format: name (Oven)">
                                        <i class="bi bi-question-circle" style="font-size: 16px"></i>
                                        </span>
                                    </label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="equipment" placeholder="Oven">
                                        <button type="button" class="btn btn-outline-success" onclick="newEquipment()">
                                            <i class="bi bi-plus"></i> Add equipment
                                        </button>
                                    </div>
                                    <ul id="equipmentUL">
                                        {% for eq in recipe.equipment.all %}
                                            <li>{{ eq.name }} <span onclick="removeEquipment('{{ eq.name }}')">×</span></li>
                                        {% endfor %}
                                    </ul>
                                </div>

                                <!-- Steps Section -->
                                <div class="mb-3">
                                    <label for="steps" class="form-label">Steps
                                    <span type="button" class="" data-toggle="tooltip" data-placement="top" title="Example format: step (Wash and dice the carrots)">
                                        <i class="bi bi-question-circle" style="font-size: 16px"></i>
                                        </span>
                                    </label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="steps" placeholder="Wash and dice the carrots">
                                        <button type="button" class="btn btn-outline-success" onclick="newStep()">
                                            <i class="bi bi-plus"></i> Add step
                                        </button>
                                    </div>
                                    <ol id="stepOL">
                                        {% for step in recipe.steps.all %}
                                            <li>{{ step.description }} <span onclick="removeStep('{{ step.description }}')">×</span></li>
                                        {% endfor %}
                                    </ol>
                                </div>
                                <button type="submit" class="btn btn-success bottom-0 end-0">Update Recipe</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" name="ingredients_data" id="ingredients_data">
    <input type="hidden" name="equipment_data" id="equipment_data">
    <input type="hidden" name="steps_data" id="steps_data">
    <input type="hidden" name="diets_data" id="diets_data">
    <script>
        const ingredients = [];
        const equipment = [];
        const steps = [];
        const selectedDiets = [];
        document.querySelectorAll('.diet-btn').forEach(button => {
            button.addEventListener('click', function () {
                const dietName = this.getAttribute('data-diet');
                if (selectedDiets.includes(dietName)) {
                    selectedDiets.splice(selectedDiets.indexOf(dietName), 1);
                    this.classList.remove('btn-success');
                    this.classList.add('btn-outline-secondary');
                } else {
                    selectedDiets.push(dietName);
                    this.classList.add('btn-success');
                    this.classList.remove('btn-outline-secondary');
                }
                document.getElementById('diets_data').value = JSON.stringify(selectedDiets);
            });
        });

        $(document).ready(function () {
            $('#recipe-form').on('submit', function (event) {
                event.preventDefault();
                const submitButton = $(this).find('button[type="submit"]');
                submitButton.prop('disabled', true).text('Processing...');
                let formData = new FormData(this);
                $.ajax({
                    type: 'POST',
                    url: $(this).attr('action'),
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (response) {
                        window.location.href = response.redirect_url;
                    },
                    error: function () {
                        submitButton.prop('disabled', false).text('Update Recipe');
                        alert('There was an error while updating the recipe.');
                    }
                });
            });
        });
    </script>
</form>
{% endblock %}
</body>
</html>
