<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Random Recipe</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container my-5">
        {% if recipe %}
        <div class="card">
            <img src="{{ recipe.image }}" class="card-img-top" alt="{{ recipe.name }}">
            <div class="card-body">
                <h5 class="card-title">{{ recipe.name }}</h5>
                <p class="card-text">{{ recipe.description }}</p>
                <p><strong>Posted by:</strong> {{ recipe.poster_id.username }}</p>
                {% if recipe and recipe.id %}
                <a href="{% url 'recipe' recipe.id %}" class="btn btn-primary">View Full Recipe</a>
                {% endif %}
            </div>
        </div>
        {% else %}
        <p>No recipes found. Please add some recipes to the database!</p>
        {% endif %}
        <div class="d-flex justify-content-center mt-4">
            <a href="{% url 'randomizer' %}" class="btn btn-secondary">Randomize Again</a>
        </div>
    </div>
</body>
</html>
