<head>
    <title>{{ recipe.name }}</title>
</head>
<body>
    <h1>{{ recipe.name }}</h1>

    {% if recipe.image %}
        <img src="{{ recipe.image.url }}" alt="{{ recipe.name }} image">
    {% endif %}

    <h3>Estimated Time:</h3>
    {% if recipe.estimated_time %}
        <p>{{ recipe.estimated_time }} minutes</p>
    {% else %}
        <p>No estimated time available.</p>
    {% endif %}

    <h3>Ingredients:</h3>
    <ul>
        {% for ingredient in recipe.ingredients.all %}
            <li>{{ ingredient.name }}</li>
        {% endfor %}
    </ul>

    <h3>Equipment:</h3>
    <ul>
        {% for equipment in recipe.equipment.all %}
            <li>{{ equipment.name }}</li>
        {% endfor %}
    </ul>

    <h3>Steps:</h3>
    <ol>
        {% for step in recipe.steps.all %}
            <li>{{ step.description }}</li>
        {% endfor %}
    </ol>

    <br>

    <a href="{% url 'recipe_list' %}">Back to recipe list</a>
</body>
</html>