<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
    $(document).ready(function() {
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getCookie('csrftoken');

        $.ajaxSetup({
            headers: { 'X-CSRFToken': csrftoken }
        });
        $('.favourite-btn').click(function(e) {
            e.preventDefault();
            let button = $(this);
            let recipeId = button.data('recipe-id');
            let favouriteCountElement = $('#favourite-count-' + recipeId);

            $.ajax({
                url: `/recipes/${recipeId}/toggle_favourite/`,
                method: 'POST',
                data: { csrfmiddlewaretoken: csrftoken },
                success: function(response) {
                    if (response.favourited) {
                        button.text('Unfavourite');
                        favouriteCountElement.text(parseInt(favouriteCountElement.text()) + 1);
                    } else {
                        button.text('Favourite');
                        favouriteCountElement.text(parseInt(favouriteCountElement.text()) - 1);
                    }
                },
                error: function(xhr, status, error) {
                    console.log(`Error: ${status} - ${error}`);
                    alert('An error occurred. Please try again.');
                }
            });
        });
    });
    </script>
</head>
<html>
{% extends 'base.html' %}
<body>
{% block content %}
<div class="container">
<form method="get">
    <div class="col my-3">
    <div class="input-group mt-3">
        <div class="card mx-auto">
        <div class="input-group-prepend  mx-auto">
            <div class="btn mt-2">
        <select class= "btn" name="diet" id="diet">
            <option value="">All Diets</option>
            {% for diet in diets %}
            <option value="{{ diet.name }}" {% if diet.name == selected_diet %}selected{% endif %}>{{ diet.name }}</option>
            {% endfor %}
        </select>
            <input type="number" min="0" class="form-control mt-2" name="estimated_time" id="estimated_time" value="{{ estimated_time }}" placeholder="Estimated time">
            </div>
                <div class="btn">
                <input type="text" class="form-control mt-2" name="ingredient" id="ingredient" value="{{ selected_ingredient }}" placeholder="Ingredient">
                <input type="text" class="form-control mt-2" name="equipment" id="equipment" value="{{ selected_equipment }}" placeholder="Equipment">
            </div>
                <div class="btn">
            <input type="text" name="query" class="form-control mt-2" placeholder="Enter keyword" value="{{ query }}">

                    <button class="btn-success form-control mt-2" type="submit">Filter</button>
            </div>
            </div>
        </div>
        </div>
        </div>
</form>
{% if recipe_list %}
        <div class="col my-3">
            {% for recipe in recipe_list %}
            <div class="card mb-3 mx-auto">
                <div class="card-body">
                    <div class="row" style="max width = 400px">
                        <div class="col-md-4">
                            <img src="{{ recipe.image }}" class="img-fluid rounded-start" alt="{{ recipe.name }}">
                        </div>
                        <div class="col">
                            <div class="col p-0 m-0">
                                {% if recipe.get_difficulty == "Easy" %}
                                <h4><a href="?difficulty=Easy" class="badge badge-pill badge-success">Easy</a></h4>
                                {% elif recipe.get_difficulty == "Medium" %}
                                <h4><a href="?difficulty=Medium" class="badge badge-pill badge-warning">Medium</a></h4>
                                {% elif recipe.get_difficulty == "Hard" %}
                                <h4><a href="?difficulty=Hard" class="badge badge-pill badge-danger">Hard</a></h4>
                                {% endif %}
                                <small>Favourites: <span class="favourite-count" id="favourite-count-{{ recipe.id }}">{{ recipe.favourite_set.count }}</span></small>
                                {% if user.is_authenticated %}
                                    <form method="post">
                                    {% csrf_token %}
                                <button class="btn btn-outline-primary favourite-btn" data-recipe-id="{{ recipe.id }}">
                                    {% if recipe.id in user_favourites %}
                                        Unfavourite
                                    {% else %}
                                        Favourite
                                    {% endif %}
                                </button>
                                    </form>
                            {% else %}
                                <p><a href="{% url 'login' %}">Log in to favourite this recipe</a></p>
                            {% endif %}
                            </div>
                            <div class="col p-0 m-0">
                                <h3 class="card-title">{{ recipe.name }}</h3>
                                <small class="card-text">By: {{ recipe.poster_id.username }}</small>
                                <p class="card-text my-2">{{ recipe.description|truncatechars:350 }}</p>
                                <a href="{% url 'recipe' recipe.id %}" class="stretched-link"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% elif total_recipes == 0 %}
    <p>No recipes available.</p>
{% endif %}
<div class="d-flex justify-content-center mt-4">
    <form method="post" action=".">
        {% csrf_token %}
        {% if view_count == 0 and total_recipes > 0 %}
            <button type="submit" name="increment" value="5" class="btn btn-success" id="load-more" {% if button_clicked %}autofocus{% endif %}>View Recipes</button>
        {% elif total_recipes > 0 %}
            <button type="submit" name="increment" value="5" class="btn btn-success" id="load-more" {% if button_clicked %}autofocus{% endif %}>Load More Recipes</button>
        {% endif %}
    </form>
</div>
{% endblock %}
</body>
</html>